sudo: false
language: go

services:
- redis-server

go:
  - 1.7
  - 1.8
  - tip

matrix:
  allow_failures:
    - go: tip

install:
  - go get github.com/onsi/ginkgo
  - go get github.com/onsi/gomega
  - go get github.com/go-redis/redis
  - go get github.com/vmihailenco/msgpack
  - go get go4.org/syncutil/singleflight

before_script:
  - redis-server --port 6380 &
